body{
background-color: rgb(182, 248, 248);
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
background-color: dodgerblue;
text-align: center;
padding: 16px;
margin: 0 auto;
}
section{
 background-color: white;
 padding: 16px;  
 margin: 16px;
 max-width: 500px;
}
.conteudo-site{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}